
/*Make Suits differnt color
Try to center number/letter with Suit better - for instance Aces do not center on suit*/

* {
  padding: 0px;
  margin: 0px;
  background: #008000;
  font-family: arial;
}

:root {
  --card-margin: .2em;
  --card-width: 9em;
  --card-height: 12.6em;
  --card-border-radius: .2em;
}

#top{
  margin: 1em;
  text-align: center;
  color: #800000;
}

#game-div {
  text-align: center;
  }


.hand {
  display: inline-block;
  padding: .5em;
  border: solid;
  border-width: .1em;
  width: var(--card-width);
  height: var(--card-height);
  text-align: left;
  border-radius: var(--card-border-radius);
  background: white;
  overflow: hidden;
 }

.hand-headings{
  margin: 0px;
  padding: 0px;
 
}

h4 {
  color: #daa520;
  font-size: 1.5em;
}

button{
  width: 6.5em;
  height: 3em;
  margin: .5em;
  border: solid;
  border-radius: .5em;
  background: #800000;
  color: #e5e5e5;
  font-family: garmound;
  font-size: 1.25em;
  outline: none;
}

button:hover {
  background: #700000;
}

.winningHand {
  border: solid;
  border-width: .25em;
  border-color: #800000;
}

#divider{
  height: 4em;
}

#display{
  text-align: center;
   }

button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#logger{
  height: 5em;
}

#log{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 5em;
  color: #800000;
  font-size: 2em;
}

#pBank-num {
  color: #800000;
}


.hand div{
  background: white;
}


.card1 {
  margin-left: 5%;
  margin-top: 3%;
  height: 30%;
  font-size: 1.5em;
  line-height: .75em;
}

.card2 {
  text-align: center;
  font-size: 1.5em;
  height: 47%;
  line-height: .75em;
}

.card3 {
  text-align: right;
  background: red;
  margin-right: 5%;
  margin-bottom: 5%;
  height: 20%;
  font-size: 1.5em;
  line-height: .85em;
  overflow: hidden;
}

#dCardOne {
  background: url("C:/Users/arichards/Documents/P Files/Learning/Projects/BlackJack/img/cardBack.jpg");
  background-size: cover;
}
